:root {
  --main-bg-color: rgb(180, 214, 171);
  --main-lb-color: #faeda1fa;
  --main-a-color: black;
  --main-h1-bg-color: #80ced6;
  --main-menu-hover: rgb(224, 247, 126);
  --main-option-bg-hover: #9cd6c39b;
  --main-option-color-hover: black;
  --main-temps-color: #50fa7b;
  --main-date-color: #12d0e9;
  --main-nav-li-color: rgb(237, 240, 226);
  --main-nav-a-color: rgb(230, 274, 240);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Times;
  font-size:30px;
}

a {
  text-decoration: none;
  color: var(--main-a-color);
}

body {
  font-family: 'Kalam', sans-serif;
  color: #444;
  border-color: #dbe4bc;
  /* background-color: #d5dbc8; */
  background-color: var(--main-bg-color);
}

li {
  /* font-weight: 700;*/
} 

li:hover {
  cursor: pointer;
  font-weight: 800;
}

h1 {
  /* font-family: "Times New Roman", Times; */
  background-color: var(--main-h1-bg-color);
}

span {
  margin-left: 30px;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 15px 0 0;
  margin-left: 10%;
  text-align: center;
}


nav a {
  color: var(--main-nav-a-color);
}

option:nth-child(even){
  background-color: #dbfc82;
}

option:hover {
  background: var(--main-option-bg-hover);
  color: var(--main-option-color-hover);
}

textarea,
input,
select {
  /* font-family: "Contrail One"; */
  outline: none;
  box-shadow:none;
  width: 80%;
  margin-left: 10%;
  padding: 5px;
  font-size: 1em;
  text-align: left;
  border-radius: 10px;
}

input:-moz-placeholder,
input:focus
{
    box-shadow:none !important;
}

textarea:focus, input:focus {
  border-color: #51aaFF;
  border-width: 4px;
  border-radius: 15px;
  
}

fieldset {
  /* font-family: cursive; */
  font-size: 1em;
  position: relative;
  padding: 15px 0;
  border: 0;
}

legend {
  text-decoration: none;
}

#temps {
  color: var(--main-temps-color);
  font-weight: 800;
}

#laDate {
  color: var(--main-date-color);
  font-weight: 800;
}

.nav .menu {
  color: beige;
  background-color: rgb(15, 2, 27);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
}

.has-children { /*1*/
  position: relative;
}

.has-children:hover > .sous-menu { /*2*/
  display: flex;
}

.sous-menu { /*3*/
  display: none;
  flex-flow: column wrap;
  min-width: 100px;
  position: absolute;
  background: dodgerblue;
}

.sous-menu a { /*4*/
  text-align: left;
  color:white;
}

.sous-menu .sous-menu { /*5*/
  top: 0px;
  left: 100%;
  background: #1e76d6;
}

.head {
  width: 100%;
}

.logo {
  margin: 0px;
  padding: 0px;
}

.majuscule {
  text-transform: capitalize;
}

.dolor {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.fonctionnel {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.trophique {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.articulaire {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.musculaire {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.donnees {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.respicogito {
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.pe {
  font-size: 2em;
  color: #50fa7b;
  font-weight: bold;
}

.rubrique {
  color: #223083;
  background: #50fa7b;
  padding: 16px;
  box-shadow: 3px 2px 0px 0px rgba(20, 19, 19, 0.5);
}

